@import "tailwindcss";

body{
  font-family: 'Poppins';
}

.font{
  font-family: "Protest Strike";
}

.heading{
  font-family: 'Fira Sans';
}

html {
  scroll-behavior: smooth;
}

section, [id] {
  scroll-margin-top: 90px; 
}